{% extends "layout.html" %}
{% block title %}Weather Data{% endblock %}
{% block content %}
    <h2>Plot Weather Data</h2>
    <p class="page-text">This webpage allows you to select a CIMIS sensor and desired data. All data is untreated and was collected from the daily reports on the <a href="https://cimis.water.ca.gov/">CIMIS website</a>. After choosing and station and data, it will show the plot of the collected data, as well as a line of best fit. Keep in mind that the data is not treated for outliers, sensor malfunctions, or other sources of funky data; take it with a grain of salt.</p>
    <form method="post" action="{{ url_for('weather_data.get_weather') }}">
        <label for="station_id">Select Station Id:</label>
        <select id="station_id" name="station_id" required>
            {% for id, name in station_pairs %}
                <option value="{{ id }}">{{ id }} - {{ name }}</option>
            {% endfor %}
        </select>
        <label for="col_val">Select Data to Query:</label>
        <select id="col_val" name="col_val" required>
            {% for col_val in col_vals %}
                <option value="{{ col_val }}">{{ col_val }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
    {% if image %}
        <img src="data:image/png;base64,{{ image }}" alt="Weather Data Plot">
    {% endif %}
{% endblock %}
