{% extends "layout.html" %}
{% block title %}Weather Data{% endblock %}
{% block content %}
    <form method="post" action="{{ url_for('weather_data.get_weather') }}">
        <label for="station_id">Select Station Id:</label>
        <select id="station_id" name="station_id" required>
            {% for id, name in station_pairs %}
                <option value="{{ id }}">{{ id }} - {{ name }}</option>
            {% endfor %}
        </select>
        <label for="col_val">Select Data to Query:</label>
        <select id="col_val" name="col_val" required>
            {% for col_val in col_vals %}
                <option value="{{ col_val }}">{{ col_val }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
    {% if image %}
        <h2>Weather Data Plot</h2>
        <img src="data:image/png;base64,{{ image }}" alt="Weather Data Plot">
    {% endif %}
{% endblock %}
